form {
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  width: 80%;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto !important;
}

button:hover {
  background-color: #45a049;
}
